Failure to parse date fields in WHOIS record: `parsing time "2022-06-03" as "2006-01-02T15:04:05Z07:00": cannot parse "" as "T"`

## Overview

While troubleshooting #115 I opted to explicitly specify the WHOIS server for a particular domain and received this error:

> `failed to parse domain updated date: parsing time "2022-06-03" as "2006-01-02T15:04:05Z07:00": cannot parse "" as "T"`

Relevant code block:

https://github.com/atc0005/check-whois/blob/2c907e24b8f0f35e08f9bcbded579da0455075bb/internal/domain/domain.go#L74-L80

## References

- https://github.com/atc0005/check-whois/issues/115
- https://github.com/likexian/whois-parser/blob/81fca9d7ed2ab07bf306d250d7921174fff00723/util.go#L116-L159
- https://github.com/likexian/whois-parser/issues/53

Small prototype:

```go
package main

import (
	"fmt"
	"time"
)

func main() {
	testTime := "2021-09-15T21:10:12Z"
	_, err := time.Parse(time.RFC3339, testTime)
	if err != nil {
		fmt.Println("Failed to parse sample:", err)
	}
	fmt.Println("Sucessfully parsed sample")
}
```

Works without issue on the `2021-09-15T21:10:12Z` value pulled from the WHOIS record.

From https://github.com/likexian/whois-parser/blob/81fca9d7ed2ab07bf306d250d7921174fff00723/util.go#L116-L159:

```golang
func parseDateString(dateString string) (time.Time, error) {
	formats := [...]string{
		"2006-01-02T15:04:05Z",
		"2006-01-02",
		"2006-01-02 15:04:05",
		"2006. 01. 02.",
		"02-Jan-2006",
		"02/01/2006 15:04:05",
		"02.01.2006",
		"02-01-2006",
		"02.01.2006 15:04:05",
		"02.1.2006 15:04:05",
		"2.1.2006 15:04:05",
		"2006-01-02 15:04:05-07",
		"02-Jan-2006 15:04:05",
		"January _2 2006",
		"02/01/2006",
		"01/02/2006",
		"2006-01-02 15:04:05 MST",
		"2006-Jan-02",
		"2006-Jan-02.",
		"2006-01-02 15:04:05 (MST+3)",
		time.ANSIC,
		time.UnixDate,
		time.RubyDate,
		time.RFC822,
		time.RFC822Z,
		time.RFC850,
		time.RFC1123,
		time.RFC1123Z,
		time.RFC3339,
		time.RFC3339Nano,
		time.Stamp,
		time.StampMilli,
		time.StampMicro,
		time.StampNano,
	}

	for _, format := range formats {
		result, err := time.Parse(format, dateString)
		if err != nil {
			continue
		}
		return result, nil
	}
```

I added a log statement emit which format was chosen (debugging). I see this output:

```
2022/11/08 05:03:14 The "2006-01-02" time format was chosen
2022/11/08 05:03:14 The "2006-01-02" time format was chosen
2022/11/08 05:03:14 The "2006-01-02T15:04:05Z" time format was chosen
```

Two thoughts:

- the logic applied by this plugin needs to gracefully handle not being able to parse the returned dates in the expected time format (it should fallback to a basic value)
- the library should probably reorder the date formats so that all of the more specific/detailed formats are tried first before falling back to a basic YYYY-MM-DD format

> While troubleshooting #115 I opted to explicitly specify the WHOIS server for a particular domain

No, this didn't work as expected. After fixing the date format (PR incoming), I realized that the WHOIS record for `org` itself was returned when I explicitly chose to use the `whois.iana.org` server.

Direct lookup using stock `whois` tool:

```
$ whois org
% IANA WHOIS server
% for more information on IANA, visit http://www.iana.org
% This query returned 1 object

domain:       ORG

organisation: Public Interest Registry (PIR)
address:      11911 Freedom Drive 10th Floor,
address:      Suite 1000
address:      Reston, VA 20190
address:      United States

contact:      administrative
name:         Director of Operations, Compliance and Customer Support
organisation: Public Interest Registry (PIR)
address:      11911 Freedom Drive 10th Floor,
address:      Suite 1000
address:      Reston, VA 20190
address:      United States
phone:        +1 703 889 5778
fax-no:       +1 703 889 5779
e-mail:       ops@pir.org

contact:      technical
name:         Senior Director, DNS Infrastructure Group
organisation: Donuts Inc.
address:      10500 NE 8th Street, Suite 750
address:      Bellevue, WA 98004
address:      United States
phone:        1.425.298.2200
fax-no:       1.425.671.0020
e-mail:       tldtech@donuts.email

nserver:      A0.ORG.AFILIAS-NST.INFO 199.19.56.1 2001:500:e:0:0:0:0:1
nserver:      A2.ORG.AFILIAS-NST.INFO 199.249.112.1 2001:500:40:0:0:0:0:1
nserver:      B0.ORG.AFILIAS-NST.ORG 199.19.54.1 2001:500:c:0:0:0:0:1
nserver:      B2.ORG.AFILIAS-NST.ORG 199.249.120.1 2001:500:48:0:0:0:0:1
nserver:      C0.ORG.AFILIAS-NST.INFO 199.19.53.1 2001:500:b:0:0:0:0:1
nserver:      D0.ORG.AFILIAS-NST.ORG 199.19.57.1 2001:500:f:0:0:0:0:1
ds-rdata:     26974 8 2 4fede294c53f438a158c41d39489cd78a86beb0d8a0aeaff14745c0d16e1de32

whois:        whois.publicinterestregistry.org

status:       ACTIVE
remarks:      Registration information:
remarks:      http://publicinterestregistry.org

created:      1985-01-01
changed:      2022-06-03
source:       IANA
```

These are the fields that were triggering the warning:

```
created:      1985-01-01
changed:      2022-06-03
```